body,html {
    overflow-x: hidden;
}

body {
    background-color: black
}

.text-article {
    color: black;
}

.title {
    color: white;
}

.albums {
    width: 150px;
    height: 150px;
}

.live {
    width: 150px;
    height: 150px;
}

.albums_names {
    color: white;
}

.live_name {
    color: white;
}

.article {
    background-color: white;
}

.footer-text {
    color: white;
}

.intro-text {
    color: white;
}

.video_1 {
    margin-left: 25%;
}

.video_2 {
    margin-left: 25%;
}

.video_3 {
    margin-left: 25%;
}

.icon {
    width: 100px;
    height: 100px;
}