body,html {
    overflow-x: hidden;
}

body {
    background-color: black
}

.text-article {
    color: black;
    font-size: 25px;
    margin-bottom: 5px;
}

.title {
    color: white;
}

.albums {
    width: 150px;
    height: 150px;
}

.live {
    width: 150px;
    height: 150px;
}

.albums_names {
    color: white;
}

.live_name {
    color: white;
}

.article {
    background-color: white;
    margin: 0px 350px;
}

.footer-text {
    color: white;
}

.intro-text {
    color: white;
}

.videos {
    margin-left: 25%;
}

.icon {
    width: 100px;
    height: 100px;
}

.album_title {
    color: white;
}

.img_grp {
    padding: 20px;
    padding-left: 40px;
}

.text-description {
    padding-top: 20px;
    padding-right: 40px;
}

.album_title {
    margin-top: 5px;
}