body,html {
    overflow-x: hidden;
}
.button {
    border-color: black;
}

.button:focus {
    color: white;
    background-color: black;
}

body {
    background-color: black
}

.text-article {
    color: black;
}

.title {
    color: white;
}

.albums {
    width: 100px;
    height: 100px;
}

.live {
    width: 100px;
    height: 100px;
}

.albums_names {
    color: white;
}

.live_name {
    color: white;
}

.article {
    background-color: white;
}